ul {
  padding: 0px;
}
li {
  list-style-type: none;
  padding: 5px;
}
img {
  display: block;
  margin: 30px auto;
  width: 100px;
}
span {
  font-style: italic;
}
h3 {
  font-style: italic;
  margin-left: 20px;
}
