.document__item p {
  margin: 0px 10px;
}

.document__item a {
  color: #5b5b5b;
}

.document__item {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 15px;
  margin: 15px auto;
  max-width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.document__item:hover {
  box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.2);
}
.document__item > div > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.document__item > div > div > p:nth-child(2) {
  font-family: auto;
  font-style: italic;
}

.document__item a {
  font-weight: bold;
  margin-top: 5px;
}

.document__item > button {
  padding: 8px 15px;
  background-color: white;
  border-radius: 16px;
  color: #a8886a;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.document__item > button:hover {
  background-color: #ffd6af;
  color: black;
}

@media (min-width: 560px) {
  .document__item {
    flex-direction: row;
  }

  .document__item > div > div {
    flex-direction: row;
  }
}
